@using DevExpress.Blazor;
<div class="card text-center">
    <div class="card-header">
        Hòa Xá
    </div>
    <div class="card-body">
        <h5 class="card-title">Tồn kho:1000 USD</h5>
        
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Hòa Xá
    </div>
    <div class="card-body">
        <h5 class="card-title">Tồn kho:1000 USD</h5>

    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        Hòa Xá
    </div>
    <div class="card-body">
        <h5 class="card-title">Tồn kho:1000 USD</h5>

    </div>
</div>
@code {

}
